{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

</head>
<body>
  <div class="container-fluid">
    <div class = "row">
      <div class="col-12 text-center">
         <!--time-->
        <p>
           22:01
        </p>
      </div>
    </div>
    
    <br>
    <div class = "row">
      <div class = "col-4">
        <h1>
          WASHINGTON 
        </h1>
      </div>
    </div>
    
    <div class = "row">
      <div class = "col-9 text-right">
        @ July 1, 2019
      </div>
    </div>
    
   <div class = "forecast-info">
     <div class = "row">
       <div class = "col-4 text-left">
         <p style = "font-size:35px; padding:7px;">
           22 ° C
         </p>
       </div>
       
       <div class = "col-8 text-right">
         <p style = "font-size:35px; padding:7px;">
           ----- miles
         </p>
       </div>
     </div>
    </div>
    
    <div class = "forecast-nameofstorm">
     <div class = "row">
       <div class = "col text-center">
         <p style = "font-size:18px; padding:7px;">
           ----no storms----
         </p>
       </div>
      </div>
    </div>
    
    <div class = "forecast-expected">
     <div class = "row">
       <div class = "col text-right">
         <p style = "font-size:18px; padding:7px; font">
           expected arrival: --------
         </p>
       </div>
      </div>
    </div>
    
    <br>
    <div class = "row">
      <div class = "col text-center" style = "background-color: black">
        <p style = "color: white">
          NO STORMS AWARE
        </p>
      </div>
    </div>
    
    <br>
    <div class = "row" style = "background-color: white">
      <div class = "col-2 text-center" style="border-right: thin solid;">
        <div class = "row">
          <div class = "col-2 text-center">
            22:00
          </div>
        </div>
        <div class = "row">
          <div class = "col-2 text-center">
              <img src = "/static/weather/assets/10.png" style="width:40px;height:40px;">
          </div>
        </div>
        <div class = "row">
          <div class = "col text-left">
            <p style="font-size: 10px">
              10.0 miles
            </p>
          </div>
        </div>
      </div>
     
      <div class = "col-2 text-center" style="border-right: thin solid;">
        <div class = "row">
          <div class = "col-2 text-center">
            23:00
          </div>
        </div>
        <div class = "row">
          <div class = "col-2 text-center">
              <img src = "/static/weather/assets/10.png" style="width:40px;height:40px;">
          </div>
        </div>
        <div class = "row">
          <div class = "col text-left">
            <p style="font-size: 10px">
              9.5 miles
            </p>
          </div>
        </div>
      </div>
      
      <div class = "col-2 text-center" style="border-right: thin solid;">
        <div class = "row">
          <div class = "col-2 text-center">
            00:00
          </div>
        </div>
        <div class = "row">
          <div class = "col-2 text-center">
              <img src = "/static/weather/assets/11.png" style="width:40px;height:40px;">
          </div>
        </div>
        <div class = "row">
          <div class = "col text-left">
            <p style="font-size: 10px">
              9.3 miles
            </p>
          </div>
        </div>
      </div>
      
      <div class = "col-2 text-center" style="border-right: thin solid;">
        <div class = "row">
          <div class = "col-2 text-center">
            01:00
          </div>
        </div>
        <div class = "row">
          <div class = "col-2 text-center">
              <img src = "/static/weather/assets/10.png" style="width:40px;height:40px;">
          </div>
        </div>
        <div class = "row">
          <div class = "col text-left">
            <p style="font-size: 10px">
              9.0 miles
            </p>
          </div>
        </div>
      </div>
      
      <div class = "col-2 text-center" style="border-right: thin solid;">
        <div class = "row">
          <div class = "col-2 text-center">
            02:00
          </div>
        </div>
        <div class = "row">
          <div class = "col-2 text-center">
              <img src = "/static/weather/assets/9.png" style="width:40px;height:40px;">
          </div>
        </div>
        <div class = "row">
          <div class = "col text-left">
            <p style="font-size: 10px">
              8.5 miles
            </p>
          </div>
        </div>
      </div>
      
      <div class = "col-2 text-center" style="border-right: thin solid;">
        <div class = "row">
          <div class = "col-2 text-center">
            03:00
          </div>
        </div>
        <div class = "row">
          <div class = "col-2 text-center">
              <img src = "/static/weather/assets/7.png" style="width:40px;height:40px;">
          </div>
        </div>
        <div class = "row">
          <div class = "col text-left">
            <p style="font-size: 10px">
              8.0 miles
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class = "row text" style = "background-color: grey">
      <div class = "col text-center">
        <br>
        <br>
        <br>
        <br>
          INFO ABOUT REGULAR WEATHER LIKE A NORMAL WEATHER APP
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/weather/seepriority/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back</a>
    </div>
    
  </div>
</body>
</html>





