{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>See Priority Storms</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
</head>
  
<body>

	<div class="container-fluid"> <!--background image in container?-->
    
    <div class = "row">
      <div class= "col-12 text-center">
         <!--time-->
        <p>
           22:01
        </p>
      </div>
    </div>
    
    <div class = "row">
      <div class = "col-12 text-left;">
        <img src = "/static/weather/assets/seepri-title.png" style="width:70%;height:70%;">
      </div>
      <div class = "center-div">
        <div class="form-group">
          <label for="miles">
            <p style = "color:white;">
            &nbsp; Miles: </p></label>
          <textarea id="miles" name="miles" rows="1" cols="2"> ∞ </textarea>
        </div>
        
        <div class="form-group">
          <label for="miles">
            <p style = "color:white;">
            &nbsp;Storm Type(s): </p></label>
          <select id="storms">
            <option>default</option>
            <option>one type of storms</option>
            <option>another type of storms</option>
            <option>other type of storms</option>
          </select>
        </div>
        
        <a href="/weather/seepriority/search/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Search</a>
      </div>
      
      <div class = "center-div">
        <div class = "row">
          <div class = "col-8 text-center">
            <p style = "font-size:16px; color:white;">
                (Current Location: 
              <a href="/weather/forecast/without/">WASHINGTON</a>
              )
            </p>
          </div>
          <div class = "col-4 text-right">
            <p style = "font-size:16px; color:white;">
                ----- miles &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
          </div>
        </div>
        
        <div class = "row">
          <div class = "col-6 text-center">
            <p style = "font-size:16px; color:white;">
                22 ° C
            </p>
          </div>
          <div class = "col-6 text-right">
            <p style = "font-size:16px; color:white;">
                -----&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;
            </p>
          </div>
        </div>
      </div>
      
      <div class = "center-div">
        <div class = "row">
          <div class = "col-6 text-center">
            <p style = "font-size:16px; color:white;">
              <a href="/weather/forecast/">BERKELEY</a>
              , name of storm
            </p>
          </div>
          <div class = "col-6 text-right">
            <p style = "font-size:16px; color:white;">
                <a href="/weather/alert" style = "color:rgb(255,0,0)" role="button" aria-pressed="true">!</a>
              13 miles &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
          </div>
        </div>
        
        <div class = "row">
          <div class = "col-6 text-center">
            <p style = "font-size:16px; color:white;">
                12 ° C
            </p>
          </div>
          <div class = "col-6 text-right">
            <p style = "font-size:16px; color:white;">
                <a href="/weather/alert" style = "color:rgb(255,0,0)" role="button" aria-pressed="true">!</a>
              July 3, 18:30
            </p>
          </div>
        </div>
      </div>
      
      <div class = "center-div">
        <div class = "row">
          <div class = "col-6 text-center">
            <p style = "font-size:16px; color:white;">
                CATATUMBO, name of storm
            </p>
          </div>
          <div class = "col-6 text-right">
            <p style = "font-size:16px; color:white;">
                <a href="/weather/alert" style = "color:rgb(255,0,0)" role="button" aria-pressed="true">!</a>
              5 miles &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
          </div>
        </div>
        <div class = "row">
          <div class = "col-6 text-center">
            <p style = "font-size:16px; color:white;">
                5 ° C
            </p>
          </div>
          <div class = "col-6 text-right">
            <p style = "font-size:16px; color:white;">
                <a href="/weather/alert" style = "color:rgb(255,0,0)" role="button" aria-pressed="true">!</a>
              06:30 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
          </div>
        </div>
      </div>
      
      <div class = "center-div">
        <p>
          <br><br><br><br><br><br><br><br><br>
        </p>
        <div class = "row">
          <div class = "col text-center">
                <a href="/weather/.../" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Modify</a>
          </div>
        </div>
      </div>
      
    </div>
	
</body>
</html>
